files:
  "/home/ec2-user/jq" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    source: http://stedolan.github.io/jq/download/linux64/jq
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01start.sh":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      source /tmp/deployment/application/ROOT/Docker.mf
      cat /tmp/deployment/application/ROOT/container.tar | /usr/bin/docker import - appversion
      /usr/bin/docker run -p $PORTS -v $MOUNTS -d $(cat /home/ec2-user/env.config) appversion $CMD
commands:
  00_upgrade_yum: 
    command: yum -y upgrade
  01_install_docker: 
    command: yum -y --enablerepo=epel install docker-io
  02_start_docker: 
    command: service docker start  
services: 
  sysvinit:
    docker:
      enabled: true
      ensureRunning: true
container_commands:
  00_eb_config_to_docker_config: 
    command: cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration | /home/ec2-user/jq '.tomcat.env[] | "-e " + .' | tr -d \" | tr -s '\n' ' ' > /home/ec2-user/env.config
  01_copy_app_config:
    command: cp /var/app/app.config /tmp/deployment/application/ROOT/app.config