files:
  "/home/ec2-user/jq" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    source: http://stedolan.github.io/jq/download/linux64/jq
commands:
  00_upgrade_yum: 
    command: yum -y upgrade
  01_install_docker: 
    command: yum -y --enablerepo=epel install docker-io
  02_start_docker: 
    command: service docker start  
services: 
  sysvinit:
    docker:
      enabled: true
      ensureRunning: true
container_commands:
  00_eb_config_to_docker_config: 
    command: cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration | /home/ec2-user/jq '.tomcat.env[] | "-e " + .' | tr -d \" | tr -s '\n' ' ' > /home/ec2-user/env.configd
  01_copy_app_config:
    command: cp /var/app/app.config /var/lib/tomcat7/webapps/ROOT
  02_build_image:
    command: docker build .
    cwd: /var/lib/tomcat7/webapps/ROOT