files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01start.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      source /tmp/deployment/application/ROOT/Docker.mf
      cat /tmp/deployment/application/ROOT/container.tar | /usr/bin/docker import - appversion
      /usr/bin/docker run -p $PORTS -v $MOUNTS -d $(cat /home/ec2-user/env.config) appversion $CMD
  "/opt/elasticbeanstalk/hooks/restartappserver/enact/01restart.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/hooks/functions
      if [[ "$EB_SYSTEM_STARTUP" != "true" ]];
      then
        #echo "Restarting tomcat:"
        #echo "1.Unmonitoring tomcat..."
        #try_command "/usr/bin/monit unmonitor tomcat" "Failed to unmonitor tomcat"
        #echo "2.Stopping tomcat..."
        #try_command "/etc/init.d/tomcat7 stop" "Failed to stop tomcat"
        #echo "3.Starting tomcat..."
        #try_command "/etc/init.d/tomcat7 start" "Failed to start tomcat"
        #echo "4.Monitoring tomcat..."
        #try_command "/usr/bin/monit monitor tomcat" "Failed to monitor tomcat"
      fi      
  "/etc/monit.d/monit.conf":
    mode: "000700"
    owner: root
    group: root
    content: |
      set daemon 30
      set httpd port 2812 and
          use address localhost
          allow localhost
      #httpd
      check process httpd with pidfile /var/run/httpd/httpd.pid
      start program = "/etc/init.d/httpd start"
      stop program = "/etc/init.d/httpd stop"
commands:
  00_upgrade_yum: 
    command: yum -y upgrade
  01_install_docker: 
    command: yum -y --enablerepo=epel install docker-io
  02_start_docker: 
    command: service docker start  
services: 
  sysvinit:
    docker:
      enabled: true
      ensureRunning: true
packages:
  yum:
    jq: []
container_commands:
  00_eb_config_to_docker_config: 
    command: cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration | jq '.tomcat.env[] | "-e " + .' | tr -d \" | tr -s '\n' ' ' > /home/ec2-user/env.config