files:
  "/home/ec2-user/jq" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    source: http://stedolan.github.io/jq/download/linux64/jq
container_commands:
  00_eb_config_to_docker_config: 
    command: cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration | ./jq '.tomcat.env[] | "-e " + .' | tr -d \" | tr -s '\n' ' ' > /home/ec2-user/env.config